.navigator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #333;
}

#button {
  background-color: transparent;
  text-decoration: none;
  color: #fff;
  border: none;
  outline: none;
  font-size: 18px;
  margin: 0 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#button:hover {
  color: #00bcd4;
}

#button.active {
  color: #00bcd4;
  border-bottom: 3px solid #07e3df;
}
